*{ 
  box-sizing: border-box;
}

body{
margin: 0;
height: 100%;
width: 100%;
}
p{
  padding: 20px;
}
.container{
  width: 400px;
  background-color: blue;
  height: 100%;
  
}
 .image{
  height: 200px;
  margin:40px;
  width: 200px;
  margin: auto;
}
.switch1{
  width: 150px;
  height: 30px;
  margin: 5px;
}
.switch2{
  width: 150px;
  height: 30px;
  margin: 5px;
}
