body{
margin: 0;
}
.container{
  width: 400px;
  background-color: blue;
  height: 350px;
  margin: 10px auto;
}
 .image{
  height: 200px;
  margin:40px;
  width: 200px;
}
.switch1{
  width: 150px;
  height: 30px;
  margin: 5px;
}
.switch2{
  width: 150px;
  height: 30px;
  margin: 5px;
}
